*{
    font-family: "Montserrat", sans-serif;
    outline:none;
    list-style-type: none;
    text-decoration: none;
    padding:0;
    margin:0;
}

/*body{    
    margin: 0px 80px;  
}*/

/* suite */ 

ul {
    display: flex;
    /* justify-content: unset; */
    width: 500px;
}
nav.navbar {
    display: flex;
    align-content: column;
    align-items: column;
    flex-direction: row;
}
li {
    width: 50%;
    font-size: 24px;
    justify-content: flex-end;
    display: flex;
}
li a:hover{
    text-decoration: underline #FF6060;
}
li a{
    color:#FF6060;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;
    align-items: center;
}

.slogan{
    position:absolute;
    color: white;
    font-weight: 500;
    font-family: Montserrat;
}
@media only screen and (max-width: 950px) {

    ul {
        display: flex;
        justify-content: flex-end;
        gap: 25px;
    }
    li{
        font-size: 22px;
        width: unset;
    }
    .logo{
        height: 50px;
    }
    nav.navbar {
       display: flex;
       width: 210px;
    }
    .slogan{
        font-size: 22px;
    }
}

@media only screen and (max-width: 500px) {

    ul {
        display: flex;
        justify-content: flex-end;
        gap: 25px;
    }
    li{
        font-size: 16px;
    }
    .logo{
        height: 30px;
    }
    nav.navbar {
       display: flex;
       width: 210px;
    }
    .slogan{
        font-size: 18px;
    }
    .header{
        margin: 30px 10px;
    }
}
