main.container-locations {
    margin: 30px 80px;
    color:#FF6060;
}

.ensemble {
    display: flex;
    justify-content: space-between;
}

.tags {
    display: flex;
    gap: 10px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.tag {
    color: white;
    background-color: #FF6060;
    border: solid #FF6060;
    border-radius: 10px;
    padding: 2px 14px;
}
h1.title-of-location {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 500;
}
h2.place-of-location {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}

section.details-container {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}
.details-container .apropos{
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
}

.container-locations .dropHead{
    max-width: 580px;
}
.container-locations .dropText{
    max-width: 580px;
}

@media only screen and (max-width: 1400px) {

    .container-locations .dropHead {
        max-width: 450px;
    }
    .container-locations .dropText {
        max-width: 450px;
    }
}

@media only screen and (max-width: 1100px) {

    .container-locations .dropHead {
        max-width: 350px;
    }
    .container-locations .dropText {
        max-width: 350px;
    }
    .tags {
        
        font-size: 12px;
    }
    h1.title-of-location {
    
        font-size: 25px;
    }
    h2.place-of-location {
        font-size: 15px;
    }
    .dropHead h1 {
        font-size: 17px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 900px) {

    .ensemble {
        display: block;
    }
    .profile-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        padding-top: 17px;
        max-width: inherit;
    }

    .container-locations .dropHead {
        max-width: 200px;
    }
    .container-locations .dropText {
        max-width: 200px;
    }
}
@media only screen and (max-width: 600px) {

    .container-locations .dropHead {
        max-width: 95%;
    }
    .container-locations .dropText {
        max-width: 95%;
    }
    section.details-container {
        display: block;
    }
    .details-container .apropos {
       
        margin: 20px 0;  
    }
    main.container-locations {
        margin: 15px 20px;
    }
    .picture {
        width: 100%;
        height: 220px;
    }
}



